.list {
	$self: &;
	margin-bottom: 30px;
	&__add-button{
		opacity: 0.4;

		transition: opacity .2s linear;
		
		&:hover {
			svg {
				path{
					stroke: #868686;
				}
			}
			span {
				color: #767676;
			}
		}
	  }
	  &__remove-icon {
		  opacity: 0;
	  }
	  .badge {
		position: relative;
		left: 5px;
		top: 1px;
	  }
	
	li {
		display: flex;
		align-items: center;
		cursor: pointer;
		padding: 9px 10px;
		margin-bottom: 5px;

		transition: background-color 0.15s ease-in-out;

		&:hover #{$self}__remove-icon {
			opacity: 0.2;
		 }
	
		 #{$self}__remove-icon {
			opacity: 0;
			transition: opacity 0.15s ease-in-out;
	
			&:hover {
			  opacity: 0.8;
			}
		 }

		&.active {
		  background: #ffffff;
		  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
		  border-radius: 4px;
		}

		&:hover {
			background: rgba(255, 255, 255, 0.5);
		}

		i {
			display: inline-flex;
			margin-right: 8px;
			svg {
			  path {
				 fill: #7c7c7c;
			  }
			}
		 }

		span {
			flex: 1;
		}

	}
}
