.todo__list {
	li {
		display: flex;
		align-items: center;
		cursor: pointer;
		padding: 9px 10px;
		margin-bottom: 5px;

		transition: opacity .2s linear;

		&.active {
		  background: #ffffff;
		  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
		  border-radius: 4px;
		}

		&:hover {
			opacity: 1;
		}

		&:first-child {
			margin-bottom: 30px;
		}

		i {
			display: inline-flex;
			margin-right: 8px;
			svg {
			  path {
				 fill: #7c7c7c;
			  }
			}
		 }

		.badge {
			width: 10px;
			height: 10px;
			border-radius: 30px;
			position: relative;
			left: 5px;
			top: 1px;
			&--green {
				background-color: #42B883;
			}
			&--blue {
				background-color: #64C4ED;
			}
			&--pink {
				background-color: #FFBBCC;
			}
		}

	}
}
