* {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 800px;
	height: 600px;
	transform: translate(-50%, -50%);
	box-shadow: 1px 2px 20px #f3f3f3;
	border-radius: 10px;
	border: 1px solid #f1f1f1;
	font-size: 14px;

 &__sidebar {
	 background-color: #f4f6f8;
	 width: 200px;
	 border-right: 1px solid #f1f1f1;
	 height: calc(100% - 120px);
	 padding: 60px 20px;
 }
}